<div class="container mb-0">
    <div class="row">
        <div class="col bread-crumb">
            <i style="display: inline;" class="fa-solid fa-comment-dots fa-2xl"></i>
            <h1 style="display: inline;"> Mensajeria / </h1>
            <h4 style="display: inline;">Panel de Mensajeria</h4>
        </div>
    </div>
</div>


<div class="container mt-0">
    <div class="row">
        <div class="col-3 chat-menu">
            <div class="container-fluid">

                <p class="titulo">Vista de Chats</p>

                <div class="row message-row">
                    <div class="col-3 message-img">
                        <i class="fa-solid fa-circle-user fa-2xl icon-img"></i>

                    </div>
                    <div class="col-9 message-text">
                        <p class="chat-title"> Juanito Perez</p>
                        <p class="chat-message"> Entregueme el vehiculo porfavor!!!!</p>
                    </div>
                </div>
                <div class="row message-row">
                    <div class="col-3 message-img">
                        <i class="fa-solid fa-circle-user fa-2xl icon-img"></i>

                    </div>
                    <div class="col-9 message-text">
                        <p class="chat-title"> Juanito Perez</p>
                        <p class="chat-message"> Entregueme el vehiculo porfavor!!!!</p>
                    </div>
                </div>
                <div class="row message-row">
                    <div class="col-3 message-img">
                        <i class="fa-solid fa-circle-user fa-2xl icon-img"></i>

                    </div>
                    <div class="col-9 message-text">
                        <p class="chat-title"> Juanito Perez</p>
                        <p class="chat-message"> Entregueme el vehiculo porfavor!!!!</p>
                    </div>
                </div>
                <div class="row message-row">
                    <div class="col-3 message-img">
                        <i class="fa-solid fa-circle-user fa-2xl icon-img"></i>

                    </div>
                    <div class="col-9 message-text">
                        <p class="chat-title"> Juanito Perez</p>
                        <p class="chat-message"> Entregueme el vehiculo porfavor!!!!</p>
                    </div>
                </div>
                <div class="row message-row">
                    <div class="col-3 message-img">
                        <i class="fa-solid fa-circle-user fa-2xl icon-img"></i>

                    </div>
                    <div class="col-9 message-text">
                        <p class="chat-title"> Juanito Perez</p>
                        <p class="chat-message"> Entregueme el vehiculo porfavor!!!!</p>
                    </div>
                </div>
                <div class="row message-row">
                    <div class="col-3 message-img">
                        <i class="fa-solid fa-circle-user fa-2xl icon-img"></i>

                    </div>
                    <div class="col-9 message-text">
                        <p class="chat-title"> Juanito Perez</p>
                        <p class="chat-message"> Entregueme el vehiculo porfavor!!!!</p>
                    </div>
                </div>
            </div>
        </div>





        <div class="col-9 chat-component">
            <div class="container-fluid">
                <div class="row chatzone-title">
                    <div class="col-10">
                        <p class="chatzone-name">Juanito Perez</p>
                    </div>
                    <div class="col-2 float-right">
                        <i class="fa-solid fa-circle-user fa-2xl icon-img"></i>
                    </div>

                </div>
                <div class="row chatzone-chat">
                    <div class="col">
                        <div class="container-fluid">
                            <div class="row msg-row-chat">


                                <div class="col-1 img-red">
                                    <i class="fa-solid fa-circle-user fa-2xl icon-img"></i>
                                </div>
                                <div class="col-5 mensaje-red">
                                    <p class="msg-red"> Entregueme el vehiculo porfavor!!!!
                                    </p>
                                </div>
                                <div class="col-6"></div>
                            </div>

                            <div class="row msg-row-chat">
                                <div class="col-6"></div>

                                <div class="col-5 mensaje-blue">
                                    <p class="msg-blue">
                                        Don Juanito, puede venir a retirarlo cuando quiera.
                                    </p>
                                </div>
                                <div class="col-1 img-blue">
                                    <i class="fa-solid fa-circle-user fa-2xl icon-img"></i>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>



            </div>

        </div>

    </div>
    <div class="row inputzone">
        <div class="col-3">

        </div>
        <div class="col-8 input-zone">
            <input cFormControl id="floatingInput" placeholder="Escribe un mensaje..." type="text" name="input-txt" />
        </div>
        <div class="col-1">
            <button cButton class="send-btn">Enviar</button>
        </div>

    </div>
</div>