<div class="container">
    <div class="row">





        <form cForm>
            <div class="mb-3">
                <label cLabel for="inputEmail-1">Correo electronico</label>
                <input cFormControl id="email" type="email">
            </div>

            <div class="mb-3">
                <label cLabel for="inputEmail-1">Nombre</label>
                <input cFormControl id="first_name" type="text">
            </div>

            <div class="mb-3">
                <label cLabel for="inputEmail-1">Apellido</label>
                <input cFormControl id="last_name" type="text">
            </div>

            <div class="mb-3">
                <label cLabel for="inputEmail-1">Nombre de usuario</label>
                <input cFormControl id="username" type="text">
            </div>

            
            <input cButton color="primary" type="submit">



        </form>
















        <!-- <form>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div cFormFloating class="mb-3">
                            <input id="floatingInput" placeholder="Nombre" type="text" name="id" />
                            <label cLabel for="floatingInput">Id</label>
                        </div>
                    </div>

                    <div class="col-10">
                        <div cFormFloating class="mb-3">
                            <input id="floatingInput" placeholder="Email" type="text" name="email" />
                            <label cLabel for="floatingInput">Email</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div cFormFloating class="mb-3">
                            <input id="floatingInput" placeholder="First name" type="text" name="first_name" />
                            <label cLabel for="floatingInput">First name</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div cFormFloating class="mb-3">
                            <input id="floatingInput" placeholder="Last name" type="text" name="last_name" />
                            <label cLabel for="floatingInput">Last name</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div cFormFloating class="mb-3">
                            <input id="floatingInput" placeholder="Username" type="text" name="username">
                            <label cLabel for="floatingInput">Username</label>
                        </div>
                    </div>

                </div>


            </div>



            <button cButton class="btn-enviar" type="submit">Editar</button>

            <button class="btn-cerrar" cButton>
                Cerrar
            </button>
        </form> -->


    </div>
</div>