<div class="container">
    <div class="row">
 

        <c-modal id="openModal" [visible]="visible"  size="lg" (visibleChange)="handleModalChange($event)">
            <c-modal-header>
                <h5 cModalTitle>Modal title</h5>
                <button (click)="openModal()" cButtonClose></button>
            </c-modal-header>
            <c-modal-body>

                <!-- <div *ngIf="!historialServicioForm.valid" class="alert alert-danger" role="alert"> -->
                <span [ngClass]="errorClass">
                    <div class="container">
                        <div class="row">
                            <div class="text-center pb-4" style="color:red;">
                                {{ errorMessage }}

                            </div>
                        </div>
                    </div>
                </span>
                <!-- </div> -->

                <div class="container-fluid">
                    <div class="row">



                        <form [formGroup]="historialServicioForm">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="mb-3" style="text-align: justify;">
                                                <label cLabel for="floatingInput" style="color:black">Id Historial</label>
    
                                                <input cFormControl id="floatingInput" placeholder="Nombre" type="text"
                                                    name="id_historial_servicio" formControlName="id_historial_servicio" [readonly]="true" />
                                            </div>
                                        </div>
    
                                        <div class="col-9">
                                            <div class="mb-3" style="text-align: justify;">
                                                <label cLabel for="floatingInput" style="color:black">Nombre</label>
                                                <input cFormControl id="floatingInput" placeholder="Nombre" type="text"
                                                    name="nombre" formControlName="nombre" />
                                            </div>
                                        </div>
    
    
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-3" style="text-align: justify;">
                                                <label cLabel for="descripcion" style="color:black">Descripcion</label>
                                                <textarea cFormControl [ngStyle]="{ 'height.px': 70 }"  id="descripcion"
                                                    formControlName="descripcion" name="descripcion">
                                                      </textarea>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-3" style="text-align: justify;">
                                                <label cLabel for="detalles" style="color:black">Detalles</label>
                                                <textarea [ngStyle]="{ 'height.px': 100 }" cFormControl id="detalles"
                                                    formControlName="detalles" name="detalles">
                                                      </textarea>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="mb-3" style="text-align: justify;">
                                                <label cLabel for="floatingInput" style="color:black">Id
                                                    Vehiculo</label>
                                                <input cFormControl id="floatingInput" placeholder="Id Vehiculo" type="text"
                                                    name="id_vehiculo" formControlName="id_vehiculo" />
                                            </div>
                                        </div>
    
                                        <div class="col-4">
                                            <div class="mb-3" style="text-align: justify;">
                                                <label cLabel style="color:black; ">Id Tecnico</label>
    
                                                <input cFormControl id="floatingInput" placeholder="Id Tecnico" type="text"
                                                    name="id_tecnico" formControlName="id_tecnico" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="mb-3" style="text-align: justify;">
                                                <label cLabel style="color:black; ">Id Cliente</label>
                                                <input cFormControl id="floatingInput" placeholder="Id Cliente" type="text"
                                                    name="id_cliente" formControlName="id_cliente" />
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3" style="text-align: justify;">
                                                <label cLabel for="floatingInput" style="color:black">Fecha entrada:
                                                </label>
                                                <input cFormControl id="floatingInput" placeholder="Fecha entrada"
                                                    type="text" name="fecha_entrada" formControlName="fecha_entrada" />
                                            </div>
                                        </div>
    
                                        <div class="col-6">
                                            <div class="mb-3" style="text-align: justify;">
                                                <label cLabel style="color:black; ">Fecha salida: </label>
                                                <input cFormControl id="floatingInput" placeholder="Fecha salida"
                                                    type="text" name="fecha_salida" formControlName="fecha_salida" />
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
    
                                <c-modal-footer>
                                    <button (click)="openModal()" class="btn-cerrar" cButton>
                                        Cerrar
                                    </button>
                                </c-modal-footer>
                        </form>


                    </div>
                </div>

            </c-modal-body>

        </c-modal>
    </div>
</div>