<div class="container-fluid contenedor-tabla">
    <div class="row">
        <div class="header">
            <h1> <strong>Panel de Historial de Servicios</strong> </h1>
        </div>
    </div>

    <div class="row">
        <div class="contenedor-filtro">
            <form [formGroup]="filtroData" (ngSubmit)="filtrarTabla()">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-3">
                                        <p>Fecha de inicio servicio: </p>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Seleccionar</mat-label>
                                            <input matInput [matDatepicker]="picker1"
                                                formControlName="fecha_inicio_filtro" name="fecha_inicio_filtro">
                                            <mat-hint>DD/MM/YYYY</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-3">

                                        <p>Fecha de fin servicio: </p>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Seleccionar</mat-label>
                                            <input matInput [matDatepicker]="picker2" formControlName="fecha_fin_filtro"
                                                name="fecha_fin_filtro">
                                            <mat-hint>DD/MM/YYYY</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-3">
                                        <p>Fecha de agenda: </p>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Seleccionar</mat-label>
                                            <input matInput [matDatepicker]="picker3"
                                                formControlName="fecha_agenda_filtro" name="fecha_fin_filtro">
                                            <mat-hint>DD/MM/YYYY</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                            <mat-datepicker #picker3></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-3">
                                        <p>Selecciona un tecnico: </p>
                                        <select aria-label="Large select example" cSelect class="mb-3" sizing="md"
                                            name="tecnico_filtro" id="tecnico_filtro" formControlName="tecnico_filtro">
                                            <option *ngFor="let datoTecnico of selectorTecnicoData"
                                                value="{{datoTecnico.id}}">{{datoTecnico.nombre_tecnico}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row pt-3">

                                    <div class="col-3">
                                        <p>Selecciona una marca: </p>
                                        <select aria-label="Large select example" cSelect class="mb-3" sizing="md"
                                            name="marca_filtro" id="marca_filtro" formControlName="marca_filtro"
                                            (change)="changeMarca($event)">

                                            <option *ngFor="let datoMarca of selectorMarcaData"
                                                value="{{datoMarca.id_marca}}">
                                                {{datoMarca.nombre}}</option>

                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <p>Selecciona un modelo: </p>
                                        <select aria-label="Large select example" cSelect class="mb-3" sizing="md"
                                            name="modelo_filtro" id="floatingInput" formControlName="modelo_filtro"
                                            (change)="changeVersion($event)">
                                            <option *ngFor="let datoModelo of selectorModeloData"
                                                value="{{datoModelo.id_modelo}}">
                                                {{datoModelo.nombre}}</option>

                                        </select>
                                    </div>

                                    <div class="col-3">
                                        <p>Selecciona una version: </p>
                                        <select aria-label="Large select example" cSelect class="mb-3" sizing="md"
                                            name="version_filtro" id="floatingInput" formControlName="version_filtro">
                                            <option *ngFor="let datoVersion of selectorVersionData"
                                                value="{{datoVersion.id_version}}">{{datoVersion.nombre}}</option>

                                        </select>
                                    </div>

                                    <div class="col-3">
                                        <p>Selecciona un estado: </p>
                                        <select aria-label="Large select example" cSelect class="mb-3" sizing="md"
                                            name="estado_servicio" id="floatingInput" formControlName="estado_servicio">
                                            <option value="1">1.- Por confirmar </option>
                                            <option value="2">2.- Ingresado </option>
                                            <option value="3">3.- En proceso </option>
                                            <option value="4">4.- Completado </option>
                                            <option value="5">5.- Con problemas </option>
                                            <option value="6">6.- Cancelado </option>

                                        </select>
                                    </div>

                                </div>

                            </div>



                        </div>




                        <div class="col-2">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <button cButton class="boton-filtro" color="primary"
                                            type="submit">Filtrar</button>

                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <button cButton class="boton-reset" color="warning" (click)="limpiarFiltro()"
                                            type="submit">Limpiar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>




            </form>
        </div>
    </div>



    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-3 offset-6">
            <mat-form-field appearance="standard">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
        </div>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="id_servicio" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id_servicio}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="observacion" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> OBSERVACION </th>
                <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
            </ng-container>


            <ng-container matColumnDef="nombre_cliente" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE CLIENTE </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre_cliente}} </td>
            </ng-container>

            <ng-container matColumnDef="id_vehiculo" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID VEHICULO </th>
                <td mat-cell *matCellDef="let element"> {{element.id_vehiculo}} </td>
            </ng-container>

            <ng-container matColumnDef="marca" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MARCA </th>
                <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
            </ng-container>

            <ng-container matColumnDef="modelo" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MODELO </th>
                <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
            </ng-container>

            <ng-container matColumnDef="version" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> VERSION </th>
                <td mat-cell *matCellDef="let element"> {{element.version}} </td>
            </ng-container>


            <ng-container matColumnDef="nombre_tecnico" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE TECNICO </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre_tecnico}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_entrada" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA ENTRADA </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_entrada}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_salida" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA SALIDA </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_salida}} </td>
            </ng-container>

            <ng-container matColumnDef="estado_servicio" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>

                <td mat-cell *matCellDef="let element">
                    <div class="estado_completo" *ngIf="element.estado_servicio == 1">Completado</div>
                    <div class="estado_proceso" *ngIf="element.estado_servicio == 2">En proceso</div>
                    <div class="estado_ingresado" *ngIf="element.estado_servicio == 3">Ingresado</div>
                    <div class="estado_pendiente" *ngIf="element.estado_servicio == 4">Pendiente</div>
                    <div class="estado_problema" *ngIf="element.estado_servicio == 5">Con problemas</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="detalle" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DETALLE </th>
                <td mat-cell *matCellDef="let element">
            
            
                    <a class="btn btn-info fa-solid fa-eye" style="color:white;"
                        (click)="verDetalle(element.id_historial_servicio)"></a>
                    <app-modal-historial-servicio-edit (refreshTable)="refreshTable()">
                    </app-modal-historial-servicio-edit>
                </td>
            </ng-container>


            <ng-container matColumnDef="pdf" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> EXPORTAR </th>
                <td mat-cell *matCellDef="let element">
                    <a class="btn btn-danger fas fa-file-pdf" style="color:white;"></a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

</div>           

