<div class="container">
    <div class="row">
        <button (click)="openModal()" cButton class="openModalButton"><i class="fa-solid fa-plus"></i> Agregar
            Usuario</button>

        <c-modal id="openModal" [visible]="visible" size="xl" (visibleChange)="handleModalChange($event)">
            <c-modal-header>
                <h5 cModalTitle>Agregar un Usuario</h5>
                <button (click)="openModal()" cButtonClose></button>
            </c-modal-header>
            <c-modal-body>

                <!-- <div *ngIf="!vehiculoForm.valid" class="alert alert-danger" role="alert"> -->
                <span [ngClass]="errorClass">
                    <div class="container">
                        <div class="row">
                            <div class="text-center pb-4" style="color:red;">
                                {{ errorMessage }}
                            </div>
                        </div>
                    </div>
                </span>
                <!-- </div> -->

                <div class="container-fluid">
                    <div class="row">



                        <form [formGroup]="usuarioForm" (ngSubmit)="addUsuario()">
                            <div class="container">
                                <div class="row">
                                    <div class="col-2">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Nombre" type="text"
                                                name="id" formControlName="id" [readonly]="true" />
                                            <label cLabel for="floatingInput">Id</label>
                                        </div>
                                    </div>

                                    <div class="col-10">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Email" type="text"
                                                name="email" formControlName="email" />
                                            <label cLabel for="floatingInput">Email</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="First name" type="text"
                                                name="first_name" formControlName="first_name" />
                                            <label cLabel for="floatingInput">First name</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Last name" type="text"
                                                name="last_name" formControlName="last_name" />
                                            <label cLabel for="floatingInput">Last name</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Username" type="text"
                                                name="username" formControlName="username" />
                                            <label cLabel for="floatingInput">Username</label>
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="row">
                                    <div class="col-6">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Password" type="text"
                                                name="password" formControlName="password" />
                                            <label cLabel for="floatingInput">Password</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Confirm password" type="text"
                                                name="password_confirm" formControlName="password_confirm" />
                                            <label cLabel for="floatingInput">Confirm password</label>
                                        </div>
                                    </div>
                         

                                </div>

             
                            </div>


                            <c-modal-footer>

                                <button cButton class="btn-enviar" type="submit"
                                    [disabled]="usuarioForm.invalid">Agregar</button>

                                <button (click)="openModal()" class="btn-cerrar" cButton>
                                    Cerrar
                                </button>
                            </c-modal-footer>
                        </form>



                    </div>
                </div>

            </c-modal-body>

        </c-modal>
    </div>
</div>