.openModalButton {
    margin: 15px 0px 0px 0px;
    background-color: #3a7fa7;
    border: none;
}
.btn-enviar{
    background-color: rgb(67, 179, 95);
    border: none;
    padding: 10px 30px 10px 30px;
    margin-top: 15px;
    float: right;
}
.btn-cerrar{
    background-color: rgb(179, 67, 67);
    border: none;
    padding: 10px 30px 10px 30px;
    margin-top: 15px;
    float: right;
}

c-modal-body {
    padding-top: 20px;

}