<div class="container-fluid">
    <div class="row">
        <form class="form" [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">

            <div class="container">
                <div class="row">
                    <img src="../../../../../assets/images/am-logo-no-background.png" alt="" class="logo">
                </div>
                <div class="row">
                    <div class="col-6 offset-3">
                        <div cFormFloating class="mb-3">
                            <input cFormControl id="floatingInput" placeholder="identity" type="text" name="identity"
                                formControlName="identity" />
                            <label cLabel for="floatingInput">Correo</label>
                        </div>
                        <p style="color:white;padding-top: 15px;">Si el correo esta registrado en nuestra base de datos, te enviaremos un boton de recuperacion a tu correo electornico, en donde podras definir una nueva contrasena.</p>
                    </div>
                </div>
            
            </div>
            <br>
            <button cButton class="btn-forgot" type="submit">Enviar Correo</button>
            <br>
            <a cButton class="btn-login" href="#/auth/login"> Iniciar Sesion</a>
        </form>



    </div>
</div>