.container-fluid {
    background-color: rgb(207, 66, 66);
    height: 100%;
    max-height: 100%;
}

.form {
    padding: 100px 0;
    text-align: center;
    text-align: center;
    display: inline;


}

.btn-login {
    margin-top: 10px;
    background-color: #a13232;
    color: rgb(255, 255, 255);
    padding: 1% 16% 1% 16%;
    border: none;
}
.btn-forgot {
    padding-bottom: 40px ;
    background-color: rgb(255, 255, 255);
    color: #c75252;
    padding: 1% 16% 1% 16%;
    border: none;
}

.logo {
    margin-top: 25px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.btn-login:hover {
    --cui-btn-bg: none;
    --cui-btn-border-color: none;
    --cui-btn-color: none;
    --cui-btn-hover-bg: none;
    --cui-btn-hover-border-color:none;
    --cui-btn-hover-color: none;
    --cui-btn-active-bg: none;
    --cui-btn-active-border-color: none;
    --cui-btn-active-color: none;
    --cui-btn-disabled-bg: none;
    --cui-btn-disabled-border-color: none;
    --cui-btn-disabled-color: none;
    --cui-btn-shadow: none;
}

.btn-login:focus {
    --cui-btn-bg:none;
    --cui-btn-border-color: none;
    --cui-btn-color: none;
    --cui-btn-hover-bg: none;
    --cui-btn-hover-border-color: none;
    --cui-btn-hover-color: none;
    --cui-btn-active-bg: none;
    --cui-btn-active-border-color:none;
    --cui-btn-active-color: none;
    --cui-btn-disabled-bg: none;
    --cui-btn-disabled-border-color: none;
    --cui-btn-disabled-color: none;
    --cui-btn-shadow: none;
}
.btn-forgot:hover {
    --cui-btn-bg:none;
    --cui-btn-border-color: none;
    --cui-btn-color: none;
    --cui-btn-hover-bg: none;
    --cui-btn-hover-border-color: none;
    --cui-btn-hover-color: none;
    --cui-btn-active-bg: none;
    --cui-btn-active-border-color:none;
    --cui-btn-active-color: none;
    --cui-btn-disabled-bg: none;
    --cui-btn-disabled-border-color: none;
    --cui-btn-disabled-color: none;
    --cui-btn-shadow: none;
}

.btn-forgot:hover {
    --cui-btn-bg:none;
    --cui-btn-border-color: none;
    --cui-btn-color: none;
    --cui-btn-hover-bg: none;
    --cui-btn-hover-border-color: none;
    --cui-btn-hover-color: none;
    --cui-btn-active-bg: none;
    --cui-btn-active-border-color:none;
    --cui-btn-active-color: none;
    --cui-btn-disabled-bg: none;
    --cui-btn-disabled-border-color: none;
    --cui-btn-disabled-color: none;
    --cui-btn-shadow: none;
}