<div class="container">
    <div class="row">
        <button (click)="openModal()" cButton class="openModalButton"><i class="fa-solid fa-plus"></i> Agregar
            Solicitud de Vehiculo</button>

        <c-modal id="openModal" [visible]="visible" size="xl" (visibleChange)="handleModalChange($event)">
            <c-modal-header>
                <h5 cModalTitle>Agregar solicitud de vehiculo</h5>
                <button (click)="openModal()" cButtonClose></button>
            </c-modal-header>
            <c-modal-body>

                <!-- <div *ngIf="!solicitudVehiculoForm.valid" class="alert alert-danger" role="alert"> -->
                <span [ngClass]="errorClass">
                    <div class="container">
                        <div class="row">
                            <div class="text-center pb-4" style="color:red;">
                                {{ errorMessage }}
                            </div>
                        </div>
                    </div>
                </span>
                <!-- </div> -->

                <div class="container-fluid">
                    <div class="row">



                        <form [formGroup]="solicitudVehiculoForm" (ngSubmit)="addSolicitudVehiculo()">

                            <div class="container">
                                <div class="row">
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Nombre" type="text"
                                                name="id_solicitud_vehiculo" formControlName="id_solicitud_vehiculo" [readonly]="true" />
                                            <label cLabel for="floatingInput">Id Solicitud Vehiculo</label>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Id Marca" type="text"
                                                name="id_marca" formControlName="id_marca" />
                                            <label cLabel for="floatingInput">Id Marca</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Modelo" type="text"
                                                name="modelo" formControlName="modelo" />
                                            <label cLabel for="floatingInput">Modelo</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Año" type="text"
                                                name="ano" formControlName="ano" />
                                            <label cLabel for="floatingInput">Año</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Patente" type="text"
                                                name="patente" formControlName="patente" />
                                            <label cLabel for="floatingInput">Patente</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Version" type="text"
                                                name="version" formControlName="version" />
                                            <label cLabel for="floatingInput">Version</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Año de compra" type="text"
                                                name="ano_compra" formControlName="ano_compra" />
                                            <label cLabel for="floatingInput">Año de compra</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Sucursal compra" type="text"
                                                name="sucursal_compra" formControlName="sucursal_compra" />
                                            <label cLabel for="floatingInput">Sucursal compra</label>
                                        </div>
                                </div>

                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Nro chasis" type="text"
                                                name="nro_chasis" formControlName="nro_chasis" />
                                            <label cLabel for="floatingInput">Nro chasis</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Nro motor" type="text"
                                                name="nro_motor" formControlName="nro_motor" />
                                            <label cLabel for="floatingInput">Nro motor</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Imagen 1" type="text"
                                                name="img_1" formControlName="img_1" />
                                            <label cLabel for="floatingInput">Imagen 1</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Imagen 2" type="text"
                                                name="img_2" formControlName="img_2" />
                                            <label cLabel for="floatingInput">Imagen 1</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Imagen 3" type="text"
                                                name="img_3" formControlName="img_3" />
                                            <label cLabel for="floatingInput">Imagen 1</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Id_Usuario Gestor" type="text"
                                                name="id_usuario_gestor" formControlName="id_usuario_gestor" />
                                            <label cLabel for="floatingInput">Id_Usuario Gestor</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Id Cliente" type="text"
                                                name="id_cliente" formControlName="id_cliente" />
                                            <label cLabel for="floatingInput">Id Cliente</label>
                                        </div>
                                </div>
                                </div>
                            </div>


                            <c-modal-footer>

                                <button cButton class="btn-enviar" type="submit"
                                    [disabled]="solicitudVehiculoForm.invalid">Agregar</button>

                                <button (click)="openModal()" class="btn-cerrar" cButton>
                                    Cerrar
                                </button>
                            </c-modal-footer>
                        </form>



                    </div>
                </div>

            </c-modal-body>

        </c-modal>
    </div>
</div>