<div class="container">
    <div class="row">
        <button (click)="openModal()" cButton class="openModalButton"><i class="fa-solid fa-plus"></i> Agregar
            Servicio al historial</button>

        <c-modal id="openModal" [visible]="visible" size="xl" (visibleChange)="handleModalChange($event)">
            <c-modal-header>
                <h5 cModalTitle>Agregar un historial de Servicio</h5>
                <button (click)="openModal()" cButtonClose></button>
            </c-modal-header>
            <c-modal-body>

                <!-- <div *ngIf="!historialServicioForm.valid" class="alert alert-danger" role="alert"> -->
                <span [ngClass]="errorClass">
                    <div class="container">
                        <div class="row">
                            <div class="text-center pb-4" style="color:red;">
                                {{ errorMessage }}
                            </div>
                        </div>
                    </div>
                </span>
                <!-- </div> -->

                <div class="container-fluid">
                    <div class="row">
                        <form [formGroup]="historialServicioForm" (ngSubmit)="addHistorialServicio()">

                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Nombre" type="text"
                                                name="id_historial_servicio" formControlName="id_historial_servicio" [readonly]="true" />
                                            <label cLabel for="floatingInput">Id historialServicio</label>
                                        </div>
                                    </div>
                                
                                    <div class="col-4">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Nombre" type="text"
                                                name="nombre" formControlName="nombre" />
                                            <label cLabel for="floatingInput">Nombre</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Descripcion" type="text"
                                                name="descripcion" formControlName="descripcion" />
                                            <label cLabel for="floatingInput">Descripcion</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Fecha de entrada" type="text"
                                                name="fecha_entrada" formControlName="fecha_entrada" />
                                            <label cLabel for="floatingInput">Fecha de entrada</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Fecha de salida" type="text"
                                                name="fecha_salida" formControlName="fecha_salida" />
                                            <label cLabel for="floatingInput">Fecha de salida</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Id Usuario Cargo" type="text"
                                                name="id_usuario_cargo" formControlName="id_usuario_cargo" />
                                            <label cLabel for="floatingInput">Id Usuario Cargo</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Id Cliente" type="text"
                                                name="id_cliente" formControlName="id_cliente" />
                                            <label cLabel for="floatingInput">Id Cliente</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div cFormFloating class="mb-3">
                                            <input cFormControl id="floatingInput" placeholder="Id Usuario Tecnico" type="text"
                                                name="id_usuario_tecnico" formControlName="id_usuario_tecnico" />
                                            <label cLabel for="floatingInput">Id Usuario Tecnico</label>
                                        </div>
                                    </div>
                                </div>
                            </div>>

                            <c-modal-footer>

                                <button cButton class="btn-enviar" type="submit"
                                    [disabled]="historialServicioForm.invalid">Agregar</button>

                                <button (click)="openModal()" class="btn-cerrar" cButton>
                                    Cerrar
                                </button>
                            </c-modal-footer>
                        </form>



                    </div>
                </div>

            </c-modal-body>

        </c-modal>
    </div>
</div>