.box-1{
    background-color: rgba(249, 0, 0, 0.46);
    color: white;
    padding: 40px 30px 40px 30px;
    border-radius: 6px;
    margin: 5px;
    h1{
        font-size: 34px;
      
    }
}
.box-2{
    background-color: rgba(249, 0, 0, 0.46);
    color: white;
    padding: 40px 30px 40px 30px;
    border-radius: 6px;
    margin: 5px;

    h1{
        font-size: 34px;
    }
}
.box-3{
    background-color: rgba(249, 0, 0, 0.46);
    color: white;
    padding: 40px 30px 40px 30px;
    border-radius: 6px;
    margin: 5px;

    h1{
        font-size: 34px;
    }
}
.box-4{
    background-color: rgba(249, 0, 0, 0.46);
    color: white;
    padding: 40px 30px 40px 30px;
    border-radius: 6px;
    margin: 5px;

    h1{
        font-size: 34px;
    }
}
.box-5{
    background-color: rgba(249, 0, 0, 0.46);
    color: white;
    padding: 40px 30px 40px 30px;
    border-radius: 6px;
    margin: 5px;

    h1{
        font-size: 34px;
    }
}
.box-6{
    background-color: rgba(249, 0, 0, 0.46);
    color: white;
    padding: 40px 30px 40px 30px;
    border-radius: 6px;
    margin: 5px;

    h1{
        font-size: 34px;
    }
}