<div class="container-fluid contenedor-tabla">
    <div class="row">
        <div class="header">
            <h1> <strong>Panel de Agenda - Gestion de horas agendadas</strong> </h1>
        </div>
    </div>


    <!-- <div class="row">
        <div class="contenedor-filtro">
            <form [formGroup]="filtroData" (ngSubmit)="filtrarTabla()">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2">
                            <p>Fecha de inicio: </p>
                            <mat-form-field appearance="outline">
                                <mat-label>Seleccionar</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="fecha_inicio_filtro"
                                    name="fecha_inicio_filtro">
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-2">

                            <p>Fecha de fin: </p>
                            <mat-form-field appearance="outline">
                                <mat-label>Seleccionar</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="fecha_fin_filtro"
                                    name="fecha_fin_filtro">
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-2">
                            <p>Selecciona una marca: </p>
                            <select aria-label="Large select example" cSelect class="mb-3" sizing="lg"
                                name="marca_filtro" id="floatingInput" formControlName="marca_filtro">
                                <option>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <div class="col-2">
                            <p>Selecciona un modelo: </p>
                            <select aria-label="Large select example" cSelect class="mb-3" sizing="lg"
                                name="modelo_filtro" id="floatingInput" formControlName="modelo_filtro">
                                <option>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <div class="col-2">
                            <p>Selecciona una version: </p>
                            <select aria-label="Large select example" cSelect class="mb-3" sizing="lg"
                                name="version_filtro" id="floatingInput" formControlName="version_filtro">
                                <option>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>


                        <div class="col-2">
                            <button cButton class="boton-filtro" color="primary" type="submit">Filtrar</button>
                        </div>
                    </div>
                </div>



            </form>
        </div>
    </div> -->



    <div class="row">
        <div class="col-3">
            <!-- <app-modal-servicio-add (refreshTable)="refreshTable()"></app-modal-servicio-add> -->
        </div>
        <div class="col-3 offset-6">
            <mat-form-field appearance="standard">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
        </div>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="nombre" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>


            <ng-container matColumnDef="nombre_cliente" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE CLIENTE </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre_cliente}} </td>
            </ng-container>
            
            <ng-container matColumnDef="id_vehiculo" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID VEHICULO </th>
                <td mat-cell *matCellDef="let element"> {{element.id_vehiculo}} </td>
            </ng-container>

            <ng-container matColumnDef="marca" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MARCA </th>
                <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
            </ng-container>

            <ng-container matColumnDef="modelo" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MODELO </th>
                <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
            </ng-container>

            <ng-container matColumnDef="version" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> VERSION </th>
                <td mat-cell *matCellDef="let element"> {{element.version}} </td>
            </ng-container>


            <ng-container matColumnDef="nombre_tecnico" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE TECNICO </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre_tecnico}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_agenda" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA AGENDA </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_agenda}} </td>
            </ng-container>

            <ng-container matColumnDef="hora_agenda" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> HORA AGENDA  </th>
                <td mat-cell *matCellDef="let element"> {{element.hora_agenda}} </td>
            </ng-container>
            
            <ng-container matColumnDef="estado_hora" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
                <td mat-cell *matCellDef="let element" class="estado_hora"> {{element.estado_hora}} EN PROCESO
                </td>
            </ng-container>

            <ng-container matColumnDef="revisar" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> REVISAR </th>
                <td mat-cell *matCellDef="let element">
                    <a (click)="checkAgenda(element.id_servicio)" cButton class="btn-info fas fa-eye openModalButton" style="color:white;">
                    
                    <app-modal-agenda-check></app-modal-agenda-check>
                </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="editar" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> EDITAR </th>
                <td mat-cell *matCellDef="let element">
                    <a class="btn btn-warning fa-solid fa-pen-to-square openModalButton" cButton style="color:white;">
                </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="pdf" class="table-head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> EXPORTAR </th>
                <td mat-cell *matCellDef="let element">
                    <a class="btn btn-danger fas fa-file-pdf" style="color:white;"></a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    <br>
</div>